.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(250, 5, 13, 0.969625350140056) 12%,
    rgba(0, 0, 0, 1) 88%
  );
}
.col {
  text-align: center;
}
.login_btn {
  margin: 10px;
}
.reg_btn {
  margin: 10px;
}
